// --------------------------------------------------
// Config
// --------------------------------------------------

//
// Colors
// --------------------------------------------------

$black: #000;
$white: #fff;
$dark-gray:#3b3b3b;
$medium-gray:#767676;
$bright-blue: #30a0ea;
